CTP_CLIENT_ID=
CTP_CLIENT_SECRET=
CTP_PROJECT_KEY=
CTP_SCOPE=
CTP_REGION=

TIKTOK_APP_KEY=
TIKTOK_APP_SECRET=

GCP_FIRESTORE_DATABASE_ID=
GCP_FIRESTORE_COLLECTION_NAME=
GCP_PROJECT_ID=
GCP_SERVICE_ACCOUNT_CLIENT_EMAIL=
GCP_SERVICE_ACCOUNT_PRIVATE_KEY=